{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товары Tesla</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <!-- Header with logo and contact info -->
    {% include 'header.html' %}

    <!-- Search -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-8">
          <div class="product-list">
            {% if search_product %}
              {% if products %}
                {% for product in products %}
                  <div class="product-card">
                    <img class="image" src="{{ product.image }}">
                    <div class="mt-0 mb-0 product-info">
                      <div class="product-name">
                        <a href="{% url 'product_detail' product.slug %}" style="color: black; text-decoration: none;">
                          {{ product.name }}
                        </a>
                      </div>                     
                      <div class="product-part-number">Номер запчасти: {{ product.part_number }}</div>
                      <div class="product-model">{{ product.model_info }}</div>
                      <div class="product-price">{{ product.price }}</div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <p>Товары не найдены.</p>
              {% endif %}
            {% else %}
              {% for product in products %}
                <div class="product-card">
                  <img class="image" src="{{ product.image }}">
                  <div class="mt-0 mb-0 product-info">
                    <div class="product-name">
                      <a href="{% url 'product_detail' product.slug %}" style="color: black; text-decoration: none;">
                        {{ product.name }}
                      </a>
                    </div>                                                                           
                    <div class="product-part-number">Номер запчасти: {{ product.part_number }}</div>
                    <div class="product-model">{{ product.model_info }}</div>
                    <div class="product-price">{{ product.price }}</div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="col-md-3">
          <div class="search-cart-container">
            <!-- Search Bar -->
            <form method="GET" action=".">
              <div class="search-bar">
                <input type="text" name="search_product" class="search-input" 
                       placeholder="Введите название" value="{{ request.GET.search_product|default_if_none:'' }}">
                <div class="search-icon">
                  <img src="{% static 'img/search-icon.svg' %}"/>
                </div>
              </div>
            </form>

            <!-- Cart Icon and Count -->
            <div class="cart">
              <a href="{% url 'car_order' 'order_1' %}">
                <img src="{% static 'img/shopping-cart.svg' %}"/>
              </a>
              <span class="cart-badge position-absolute top-10 start-40 translate-right">2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
