{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Товары Tesla</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <!-- Header with logo and contact info -->
    {% include 'header.html' %}

    <!-- Search -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="product-detail-container">
            <div class="h1" style="color: black; font-family: noto-serif; font-size: 32px; font-weight: bold">{{ product.name }}</div>
            <div class="product-details">
                <img src="{{ product.image }}" alt="{{ product.name }}">
                <div class="info">
                    <div class="price-cart-container">
                        <p class="price">{{ product.price }}</p>
                        <button class="add-to-cart">В корзину</button>
                    </div>
                    <div class="p"><strong>Артикул:</strong> {{ product.article_number }}</div>
                    <div class="p"><strong>Марка:</strong> {{ product.brand }}</div>
                    <div class="p"><strong>Модель:</strong> {{ product.model }}</div>
                    <div class="p"><strong>Год:</strong> {{ product.year }}</div>
                    <div class="p"><strong>Номер запчасти:</strong> {{ product.part_number }}</div>
                    <div class="p" class="note">
                        <strong>Примечание:</strong> {{ product.note }}
                    </div>
                </div>
            </div>
          </div>                
        </div>

        <div class="col-md-3">
          <div class="search-cart-container">
            <!-- Cart Icon and Count -->
            <div class="cart">
              <a href="{% url 'basket' 1 %}">
                <img src="{% static 'img/shopping-cart.svg' %}"/>
              </a>
              <span class="cart-badge position-absolute top-10 start-40 translate-right %}">2</span>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </body>
</html>